body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto; /* Changed from 'fixed' to 'auto' for a more natural table layout */
}

thead th, tbody th {
    background-color: #f1f1f1;
    z-index: 1; /* Removed sticky positioning */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}

/* Removed .table-container as it is no longer necessary */
@media print {
    body {
        font-size: 12px;
        font-family: Arial, sans-serif;
    }

    .table-container {
        overflow: visible;
    }

    table {
        width: 100%;
        table-layout: auto;
        font-size: 10px;
    }

    th, td {
        padding: 6px;
        border: 1px solid black;
    }

    th {
        width: auto;
        font-size: 12px;
    }

    .container img {
        max-width: 100px;
        height: auto;
    }

    /* Avoid breaking inside rows */
    tr, td {
        page-break-inside: avoid;
        page-break-after: auto;
    }
}
